<%= form_with(model: trip, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this error from being saved:</h2>

      <ul>
      <%user.errors.full_messages.each do |message| %>
      <li><%= message %>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class = "field">
    <%= form.label :title %>
    <%= form.text_field :title, id: trip_title %>
    </div>

    <dic class = "field">
    <%= form.label :leg_id %>
    <%= form.text_field :leg_id, id: trip_leg_id %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>

<% end %>
