<p id="notice"><%= notice %></p>

<h1>Trips</h1>
<%= link_to 'New Legs', legs_new %>
<%= link_to 'Legs Index', legs_index %>
<%= link_to 'New Trip', trips_new %>
<%= link_to 'Trip Index', trips_index %>
<%= link_to 'New Users', users_new %>
<%= link_to 'Users Index', users_index %>

<table>
  <thead>
    <tr>
      <th>Origin</th>
      <th>Destination</th>
      <th>Username</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
    <tr>
      <td><%= trip.origin %></td>
      <td><%= trip.destination %></td>
      <td><%= trip.username %></td>
      <td><%= link_to 'Show', trip %></td>
      <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
      <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
