<%= form_with(model: trip, local: true) do |form| %>

  <div class="field">
    <%= form.label :origin %>
    <%= form.text_field :origin, id: :trip_origin %>
  </div>

  <div class="field">
    <%= form.label :destination %>
    <%= form.text_field :destination, id: :trip_destination %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
