<h1>Searching Trips</h1>

<%= form_with(model: trip, local: true) do |form| %>

  <div class="field">
    <%= form.label :origin %>
    <%= form.text_field :origin, id: :trip_origin %>
  </div>

  <div class="field">
    <%= form.label :destination %>
    <%= form.text_field :destination, id: :trip_destination %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Database List', trips_path %>

<br>
<br>

<h2>One Leg Routes:</h2>
<h3>
<% @one_leg.each do |leg| %>
  <%= leg.IGN %>
<% end %>
</h3>
<br><br>

<h2>Two Leg Routes:</h2>
<h3>Leg One:</h3>
<h3>Leg Two:</h3>

