<h1>Searching Trips</h1>

<%= render 'search_form', trip: @trip %>

<%= link_to 'Database List', trips_path %>

<br>
<br>

<h2>One Leg Routes:</h2>
<h3>
<% @OneLeg.each do |leg| %>
  <%= leg.IGN %>
<% end %>
</h3>

<br><br>

<h2>Two Leg Routes:</h2>
<h3>Leg One:</h3>
<% @TwoLeg1.each do |leg1| %>
  <%= leg1.IGN %>
<% end %>
<h3>Leg Two:</h3>
<% @TwoLeg2.each do |leg2| %>
  <%= leg2.IGN %>
<% end %>

<br><br>
