<h1>Searching Trips</h1>

<%= form_with(model: @Trip, local: true) do |form| %>

  <div class="field">
    <%= form.label :origin %>
    <%= form.text_field :origin, id: :trip_origin %>
  </div>

  <div class="field">
    <%= form.label :destination %>
    <%= form.text_field :destination, id: :trip_destination %>
  </div>

  <div class="actions">
    <%= form.submit %>
    
  </div>
<% end %>

<%= @one_leg %>
<%= @two_leg1 %>
<%= @two_leg2 %>

<%= link_to 'Database List', trips_path %>
