<% provide(:title, 'Users') %>
<h1>Users</h1>

<%= link_to 'New Legs', legs_new_path %>
<%= link_to 'Legs Index', legs_index_path %>
<%= link_to 'New Trip', trips_new_path %>
<%= link_to 'Trip Index', trips_index_path %>
<%= link_to 'New Users', users_new_path %>
<%= link_to 'Users Index', users_index_path %>

<br><br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Community</th>
      <th>Voucher</th>
      <th>Vouched</th>
      <th colspan="6"></th>
    </tr>
  </thead>


  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.community %></td>
        <td><%= user.voucher %></td>
        <td><%= user.vouched %></td>
      </tr>
    <% end %>
  </tbody>
</table>
