<p id="notice"><%= notice %></p>

<h1>Find Key Route</h1>
<%= link_to 'New Legs', legs_new %>
<%= link_to 'Legs Index', legs_index %>
<%= link_to 'New Trip', trips_new %>
<%= link_to 'Trip Index', trips_index %>
<%= link_to 'New Users', users_new %>
<%= link_to 'Users Index', users_index %>

<%= form_with(model: @Leg, local: true) do |form| %>

  <div class="field">
    <%= form.label :origin %>
    <%= form.text_field :origin, id: :trip_origin %>
  </div>

  <div class="field">
    <%= form.label :destination %>
    <%= form.text_field :destination, id: :trip_destination %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<br>
