<p id="notice"><%= notice %></p>

<p>
  <strong>Origin:</strong>
  <%= @leg.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @leg.destination %>
</p>

<p>
  <strong>Username:</strong>
  <%= @leg.username %>
</p>

<%= link_to 'Edit', edit_leg_path(@leg) %> |
<%= link_to 'Back', legs_path %>
