<%= form_with(model: route, local: true) do |form| %>
  <% if route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :one_leg %>
    <%= form.text_field :one_leg, id: :route_one_leg %>
  </div>

  <div class="field">
    <%= form.label :two_leg1 %>
    <%= form.text_field :two_leg1, id: :route_two_leg1 %>
  </div>

  <div class="field">
    <%= form.label :two_leg2 %>
    <%= form.text_field :two_leg2, id: :route_two_leg2 %>
  </div>

  <div class="field">
    <%= form.label :three_leg1 %>
    <%= form.text_field :three_leg1, id: :route_three_leg1 %>
  </div>

  <div class="field">
    <%= form.label :three_leg2 %>
    <%= form.text_field :three_leg2, id: :route_three_leg2 %>
  </div>

  <div class="field">
    <%= form.label :three_leg3 %>
    <%= form.text_field :three_leg3, id: :route_three_leg3 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
