<p id="notice"><%= notice %></p>

<p>
  <strong>One leg:</strong>
  <%= @route.one_leg %>
</p>

<p>
  <strong>Two leg1:</strong>
  <%= @route.two_leg1 %>
</p>

<p>
  <strong>Two leg2:</strong>
  <%= @route.two_leg2 %>
</p>

<p>
  <strong>Three leg1:</strong>
  <%= @route.three_leg1 %>
</p>

<p>
  <strong>Three leg2:</strong>
  <%= @route.three_leg2 %>
</p>

<p>
  <strong>Three leg3:</strong>
  <%= @route.three_leg3 %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
